<head>
    <title>INDEX</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
   <!-- 
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" media="(prefers-color-scheme: ligth)" th:href="@{/css/ligth.css}"/>
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" th:href="@{/css/dark.css}"/>
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
    <script th:src="@{js/darkmode.js}" ></script>
   -->
   
   
    <link rel="stylesheet" th:href="@{/css/modooscuro.css}"/>
    <link rel="stylesheet" th:href="@{/css/calificacion.css}"/>
    <link rel="stylesheet" th:href="@{/css/imagenes.css}"/>
    <link rel="stylesheet" th:href="@{/css/listas-mobil.css}"/>
    
</head>